<ul>
  <li *ngFor="let ev of events">
    <img [src]="ev.pic" alt="" width="50px" height="50px">
    {{ ev.name }}
    <button (click)="delete(ev.id)">remove</button>
  </li>
</ul>
<div>
  <label for="eventname">Esemény Hozzáadása</label>
  <input type="text" #newEventNameInput id="eventname">
</div>
<div>
  <label for="eventpic">Esemény kép</label>
  <input type="text" #newEventPicInput id="eventpic">
</div>
<button (click)="add(newEventNameInput, newEventPicInput)">hozzáadás</button>
<pre>
{{ events | json }}
</pre>
