<p>Törlés kész</p>

<app-event></app-event>

<h3>másik h3</h3>
 <ul>
   <li>sziget</li>
   <li>efott</li>
   <li>fezen</li>
   <li>szin</li>
 </ul>
<hr>
<p>Lista ngFor -al</p>
<ul>
  <li *ngFor="let event of events">{{event}}</li>

</ul>

<hr>
<p>ngIf direktíva</p>
<div *ngIf="show">
  <p>Dudy</p>
</div>

<hr>
<p>ngClass:</p>
<div [ngClass]="{ 'valami': show }">
  <p>Működik az osztály</p>
</div>

<hr>
<!--esemény elkapása-->
<button (click)="toggle()"
  (mouseover)="demo($event)"
>Toggle</button>
